@import '../../../variables.less';

.comp-breadcrumbs {
  margin: 10px 0 30px;
  text-align: center;
  color: @primary-default;

  li {
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    padding: 0 2px;
    text-transform: capitalize;

    &.hide {
      display: none;
    }

    &.breadcrumbs-name {
      color: @tertiary-heavy;
    }

    > span {
      color: @tertiary-heavy;
      margin: 0 5px;
    }

    .comp-breadcrumbs__element {
      align-items: center;
      cursor: pointer;
      display: inline-flex;

      background: unset;
      border: none;
      outline: none;
      color: @primary-default;
      font-family: Open Sans, Lucida Sans Unicode, Helvetica, sans-serif;
      font-size: @text-large;
    }

    &.pointer-none {
      .comp-breadcrumbs__element {
        color: @tertiary-heavy;
        pointer-events: none;
      }
    }

    &:last-child {
      .comp-breadcrumbs__element {
        color: @tertiary-heavy;
        pointer-events: none;

        + span {
          display: none;
        }
      }
    }
  }
}
