@import "../../../../variables.less";

.comp-loader {
	animation: load8 1.1s infinite linear;
	-webkit-animation: load8 1.1s infinite linear;
	border-radius: 50%;
	border-top: 1.1em solid rgba(204, 204, 204, 0.2);
	border-right: 1.1em solid rgba(204, 204, 204, 0.2);
	border-bottom: 1.1em solid rgba(204, 204, 204, 0.2);
	border-left: 1.1em solid @secondary-light;
	font-size: 6px;
	height: 10em;
	left: calc( 50% - 10em/2 );
	position:absolute;
	transform: translateZ(0);
	top: calc( 50% - 10em/2 );
	width: 10em;

	&:after {
		border-radius: 50%;
		height: 10em;
		width: 10em;
	}

	&.light {
		border-top: 1.1em solid rgba(204, 204, 204, 0.2);
		border-right: 1.1em solid rgba(204, 204, 204, 0.2);
		border-bottom: 1.1em solid rgba(204, 204, 204, 0.2);
		border-left: 1.1em solid @secondary-light;
	}

	&.dark {
		border-bottom: 1.1em solid rgba(0,0,0, 0.2);
		border-left: 1.1em solid @tertiary-heavy;
		border-right: 1.1em solid rgba(0,0,0, 0.2);
		border-top: 1.1em solid rgba(0,0,0, 0.2);
	}

	&.xm { font-size:1.6px; }

	&.sm { font-size:2px; }

	&.md { font-size:6px; }

	&.lg { font-size:9px }

	&.block { display: block; }

	&.hidden { display: none; }
}

@-webkit-keyframes load8 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}