.miniloader {
  margin: 100px auto;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  &-white {
    animation: load5White 1.1s infinite ease;
    -webkit-animation: load5White 1.1s infinite ease;
  }
  &-blue {
    animation: load5blue 1.1s infinite ease;
    -webkit-animation: load5blue 1.1s infinite ease;
  }
  &-green {
    animation: load5green 1.1s infinite ease;
    -webkit-animation: load5green 1.1s infinite ease;
  }
}
@-webkit-keyframes load5White {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fff0f0, 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.5), -1.8em -1.8em 0 0em rgba(255,240,240, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.7), 1.8em -1.8em 0 0em #fff0f0, 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.5), 1.8em -1.8em 0 0em rgba(255,240,240, 0.7), 2.5em 0em 0 0em #fff0f0, 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.5), 2.5em 0em 0 0em rgba(255,240,240, 0.7), 1.75em 1.75em 0 0em #fff0f0, 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.5), 1.75em 1.75em 0 0em rgba(255,240,240, 0.7), 0em 2.5em 0 0em #fff0f0, -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.5), 0em 2.5em 0 0em rgba(255,240,240, 0.7), -1.8em 1.8em 0 0em #fff0f0, -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.5), -1.8em 1.8em 0 0em rgba(255,240,240, 0.7), -2.6em 0em 0 0em #fff0f0, -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.5), -2.6em 0em 0 0em rgba(255,240,240, 0.7), -1.8em -1.8em 0 0em #fff0f0;
  }
}
@keyframes load5White {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fff0f0, 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.5), -1.8em -1.8em 0 0em rgba(255,240,240, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.7), 1.8em -1.8em 0 0em #fff0f0, 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.5), 1.8em -1.8em 0 0em rgba(255,240,240, 0.7), 2.5em 0em 0 0em #fff0f0, 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.5), 2.5em 0em 0 0em rgba(255,240,240, 0.7), 1.75em 1.75em 0 0em #fff0f0, 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.5), 1.75em 1.75em 0 0em rgba(255,240,240, 0.7), 0em 2.5em 0 0em #fff0f0, -1.8em 1.8em 0 0em rgba(255,240,240, 0.2), -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.5), 0em 2.5em 0 0em rgba(255,240,240, 0.7), -1.8em 1.8em 0 0em #fff0f0, -2.6em 0em 0 0em rgba(255,240,240, 0.2), -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.5), -1.8em 1.8em 0 0em rgba(255,240,240, 0.7), -2.6em 0em 0 0em #fff0f0, -1.8em -1.8em 0 0em rgba(255,240,240, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,240,240, 0.2), 1.8em -1.8em 0 0em rgba(255,240,240, 0.2), 2.5em 0em 0 0em rgba(255,240,240, 0.2), 1.75em 1.75em 0 0em rgba(255,240,240, 0.2), 0em 2.5em 0 0em rgba(255,240,240, 0.2), -1.8em 1.8em 0 0em rgba(255,240,240, 0.5), -2.6em 0em 0 0em rgba(255,240,240, 0.7), -1.8em -1.8em 0 0em #fff0f0;
  }
}

@-webkit-keyframes load5green {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #8bc53f, 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.5), -1.8em -1.8em 0 0em rgba(139,197,63, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.7), 1.8em -1.8em 0 0em #8bc53f, 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.5), 1.8em -1.8em 0 0em rgba(139,197,63, 0.7), 2.5em 0em 0 0em #8bc53f, 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.5), 2.5em 0em 0 0em rgba(139,197,63, 0.7), 1.75em 1.75em 0 0em #8bc53f, 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.5), 1.75em 1.75em 0 0em rgba(139,197,63, 0.7), 0em 2.5em 0 0em #8bc53f, -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.5), 0em 2.5em 0 0em rgba(139,197,63, 0.7), -1.8em 1.8em 0 0em #8bc53f, -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.5), -1.8em 1.8em 0 0em rgba(139,197,63, 0.7), -2.6em 0em 0 0em #8bc53f, -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.5), -2.6em 0em 0 0em rgba(139,197,63, 0.7), -1.8em -1.8em 0 0em #8bc53f;
  }
}
@keyframes load5green {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #8bc53f, 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.5), -1.8em -1.8em 0 0em rgba(139,197,63, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.7), 1.8em -1.8em 0 0em #8bc53f, 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.5), 1.8em -1.8em 0 0em rgba(139,197,63, 0.7), 2.5em 0em 0 0em #8bc53f, 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.5), 2.5em 0em 0 0em rgba(139,197,63, 0.7), 1.75em 1.75em 0 0em #8bc53f, 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.5), 1.75em 1.75em 0 0em rgba(139,197,63, 0.7), 0em 2.5em 0 0em #8bc53f, -1.8em 1.8em 0 0em rgba(139,197,63, 0.2), -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.5), 0em 2.5em 0 0em rgba(139,197,63, 0.7), -1.8em 1.8em 0 0em #8bc53f, -2.6em 0em 0 0em rgba(139,197,63, 0.2), -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.5), -1.8em 1.8em 0 0em rgba(139,197,63, 0.7), -2.6em 0em 0 0em #8bc53f, -1.8em -1.8em 0 0em rgba(139,197,63, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(139,197,63, 0.2), 1.8em -1.8em 0 0em rgba(139,197,63, 0.2), 2.5em 0em 0 0em rgba(139,197,63, 0.2), 1.75em 1.75em 0 0em rgba(139,197,63, 0.2), 0em 2.5em 0 0em rgba(139,197,63, 0.2), -1.8em 1.8em 0 0em rgba(139,197,63, 0.5), -2.6em 0em 0 0em rgba(139,197,63, 0.7), -1.8em -1.8em 0 0em #8bc53f;
  }
}


@-webkit-keyframes load5blue {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #05a7d2, 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.5), -1.8em -1.8em 0 0em rgba(5,167,210, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.7), 1.8em -1.8em 0 0em #05a7d2, 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.5), 1.8em -1.8em 0 0em rgba(5,167,210, 0.7), 2.5em 0em 0 0em #05a7d2, 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.5), 2.5em 0em 0 0em rgba(5,167,210, 0.7), 1.75em 1.75em 0 0em #05a7d2, 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.5), 1.75em 1.75em 0 0em rgba(5,167,210, 0.7), 0em 2.5em 0 0em #05a7d2, -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.5), 0em 2.5em 0 0em rgba(5,167,210, 0.7), -1.8em 1.8em 0 0em #05a7d2, -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.5), -1.8em 1.8em 0 0em rgba(5,167,210, 0.7), -2.6em 0em 0 0em #05a7d2, -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.5), -2.6em 0em 0 0em rgba(5,167,210, 0.7), -1.8em -1.8em 0 0em #05a7d2;
  }
}
@keyframes load5blue {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #05a7d2, 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.5), -1.8em -1.8em 0 0em rgba(5,167,210, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.7), 1.8em -1.8em 0 0em #05a7d2, 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.5), 1.8em -1.8em 0 0em rgba(5,167,210, 0.7), 2.5em 0em 0 0em #05a7d2, 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.5), 2.5em 0em 0 0em rgba(5,167,210, 0.7), 1.75em 1.75em 0 0em #05a7d2, 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.5), 1.75em 1.75em 0 0em rgba(5,167,210, 0.7), 0em 2.5em 0 0em #05a7d2, -1.8em 1.8em 0 0em rgba(5,167,210, 0.2), -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.5), 0em 2.5em 0 0em rgba(5,167,210, 0.7), -1.8em 1.8em 0 0em #05a7d2, -2.6em 0em 0 0em rgba(5,167,210, 0.2), -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.5), -1.8em 1.8em 0 0em rgba(5,167,210, 0.7), -2.6em 0em 0 0em #05a7d2, -1.8em -1.8em 0 0em rgba(5,167,210, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,167,210, 0.2), 1.8em -1.8em 0 0em rgba(5,167,210, 0.2), 2.5em 0em 0 0em rgba(5,167,210, 0.2), 1.75em 1.75em 0 0em rgba(5,167,210, 0.2), 0em 2.5em 0 0em rgba(5,167,210, 0.2), -1.8em 1.8em 0 0em rgba(5,167,210, 0.5), -2.6em 0em 0 0em rgba(5,167,210, 0.7), -1.8em -1.8em 0 0em #05a7d2;
  }
}
