.title-start{
    letter-spacing: 2px;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-weight: bolder;
}
.page-title{
    text-transform: uppercase;
    font-size: 35px;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: flex-start;
}
.page-title-span{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 0;
  margin-top: .2rem;
    padding-left: .5rem;
}
.result-search{
    font-size: var(--f-standard);
}
.result-search-span{
    color: var(--font-grey);
    padding-left: .5rem;
}
.search-list{
    margin: 1rem 2rem;
}
.search-list-item{
    font-size: var(--f-standard);
    margin: 1rem;
    line-height: 18px;

}
.search-author{
    margin-left: 1.4rem;
    margin-top: .4rem;
    padding-left: .1rem;
}
.border-bottom{
border-bottom: 1px solid var(--grey-4);
    margin: 1rem 0;
}
@media screen and (max-width: 600px){
    .page-title{
        font-size: 20px !important;
    }
    .page-title-span{
        font-size: 20px !important;
        margin: 0;
    }
    .search-list{
        margin: 0.2rem;
    }
}


