/* COLOR */
@primary-heavy: #044458;
@primary-accent: #0f92ba;
@primary-default: #2ea5dc;
@primary-light: #7bc6db;
@primary-ultralight: #c9e9f2;
@primary-background: #f5f7ff;

@secondary-heavy: #333333;
@secondary-accent: #777777;
@secondary-default: #999999;
@secondary-light: #ccc;
@secondary-ultralight: #efefef;
@secondary-background: #f9f9f9;

@tertiary-heavy: #000;
@tertiary-ultralight: #fff;


@action-accent: #ff9000;
@action-default: #ffb000;
@action-light: #efbc7f;
@action-background: #F6E8D9;

@destructive-accent: #f94848;
@destructive-default: #ff6c6c;
@destructive-light: #efafaf;
@destructive-background: #f7e8e8;

@confirmation-accent: #8bc53f;
@confirmation-light: #e0f4c1;

/* Font size*/
@text-xsmall: 10px;
@text-small: 12px;
@text-default: 14px;
@text-large: 16px;
@header-small: 20px;
@header-default: 26px;
@header-large: 34px;
@header-xlarge: 50px;
