*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--black-1);
}

.title-main {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
.bold{
    /*font-weight: bold;*/
    /*font-size: 20px;*/
}
.flex_space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.active-link {
    font-weight: bold;
    color: var(--black-1);
}

.color-red {
    color: red;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.about-book {
    font-size: 20px;
    padding: 10px 45px 10px 0;
    margin: 25px 2px;
    text-align: left;
    line-height: var(--lineHeight-1);
    line-break: auto;
}
.img-book{
    display: flex;
    justify-content: center;
    align-content: center;
}
.picture-info {
    height: 350px;
    object-position: center;
    padding: 15px 5px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 5px;

}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-align {
    display: flex;
}

.book-box {
    height: 380px;
    padding: 0 1px;
    margin: 0;
}

/*.book-info{*/
/*    font-size: 24px;*/
/*}*/


@media (max-width: 992px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 0;
        margin: auto;
        width: 100%;
    }

    .col-6 {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .book-info{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .col-6 {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .book-info{
        font-size: 16px;
    }
    .about-book{
        margin: 30px 2px 5px 2px;
        padding: 10px 2px;
    }

    .picture-info{
        padding: 15px 5px;
    }
    .book-box{
        height: 400px;
    }
}


@media (max-width: 576px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 15px;
    }
    .book-info{
        font-size: 16px;
    }
    .flex-align{
        flex-direction: column;
    }
    .about-book{
        margin: 10px 2px 5px 2px;
        padding: 10px 15px;
    }
}
.border-bottom-grey{
    border: 1px solid var(--grey-1);
}
/*pagination*/



