/*:root {*/
/*    --font-grey: #999999;*/
/*    --font-grey-1: #707070;*/
/*    --red-1: #e00000;*/
/*    --black-1: #000000;*/
/*    --grey-1: #969696;*/
/*    --grey-2: #bdbdbd ;*/
/*    --grey-3: #f4f4f4 ;*/
/*    --silver-1:#fcfcfc;*/
/*    --silver-2: #cfcfcf ;*/
/*    --blue-1:#87cefa;*/
/*    --white: #ffffff;*/

/*    !*utils*!*/
/*    --lineHeight-1: 1.6rem;*/
/*    --lineHeight-2: 1.2rem;*/
/*    --lineSpacing: .1rem;*/
/*    --transition: all .3s ease;*/
/*}*/
:root {
    --font-grey: #999999;
    --font-grey-1: #707070;
    --font-grey-2: #4f4f4f;
    --red-1: #e00000;
    --black-1: #000000;
    --grey-1: #969696;
    --grey-2: #bdbdbd ;
    --grey-3: #f4f4f4 ;
    --grey-4: #e6e6e6;
    --border-filters: #AAAAAA;


    --border: #cdcdcd;
    --btn-grey: #f1f1f1;
    --silver-1:#fcfcfc;
    --silver-2: #cfcfcf ;
    --silver-3:  #f5f5f5   ;
    --blue-1:#87cefa;
    --white: #ffffff;

    /*utils*/
    --lineHeight-1: 1.6rem;
    --lineHeight-2: 1.2rem;
    --lineHeight-3: 1.4rem;
    --lineHeight-4: 1.8rem;
    --lineHeight-5: .9rem;
    --lineSpacing: .1rem;
    --lineSpacing-1: 0.05rem;
    --f-standard:1.0625rem;
    --f-normal:1.1875rem;
    --f-sm: 0.875rem;
    --leter-spacing: 1.2px ;
    --transition: all .2s linear;
    --radius: 5px;

}
