.wrapper-right {
    padding: .5rem .2rem .5rem 2.5rem;
    /*margin: .5rem .2rem 1.7rem 2rem;*/
    border-left: 1px solid #cdcdcd;
}

.carcer-title {
    text-transform: uppercase;
    font-weight: bolder;
    padding: .2rem 0;
}

.carcer-title h3 {
    padding: .8rem 0;
}

.carcer-title p {
    font-size: var(--f-small) !important;
    text-transform: none;
    padding: .3rem 0;
    color: var(--font-grey);
}

.carcer-title span {
    color: var(--black-1);
}

.carcer ul li {
    padding: .4rem 0.1rem;
    color: var(--font-grey);
}

.carcer-header {
    /*display: block;*/
    width: 100%;
    background-color: var(--btn-grey);
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: .5rem 0;

}

.carcer-left {

}
.carcer-left ul{
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
}
.carcer-left ul li{
    padding: .5rem .6rem;
    color: var(--red-1);
}
.carcer-left span{
    color: var(--black-1);
    text-transform: uppercase;
}
.carcer-right {

}

.btn-carcer {
    display: block;
    /*width: 100%;*/
    padding: .6rem 1rem;
    background-color: var(--red-1);
    border: none;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hidden{
    display: none;
}
.active-text{
    display: block;
    animation: anim-btn .1s linear;
    cursor: pointer;
}
.active-icon{
    transition: var(--transition);
}
@keyframes anim-btn {
    0%{opacity: 0}
    100%{opacity: 1}
}

.black{
    background-color: black;
    transition: var(--transition);
}
.hidden-content{
    padding: .6rem .5rem;
    color: var(--font-grey-2);
}
.hidden-content-title{
    color: red !important;
    /*padding: .6rem .5rem !important;*/
    font-size: var(--f-standard);
    font-weight: bolder;
}
.hidden-content span{
    color: var(--font-grey);
    padding: 0 !important;
}
.hidden-content p{
    padding: .3rem .9rem;

}
.hidden-subtitle p{
    padding:  1rem 0.2rem 0.4rem 0.2rem!important;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: var(--transition);
}
#myBtn:hover {
    background-color: var(--grey-3);
}
