
.display-flex-sb{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.display-flex-se{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.display-flex-sa{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.display-flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}
.display-flex-start{
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.display-flex-end{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}




.m-0{
    margin: 0;
}
.m-1{
    margin: 1rem;
}

.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}

.mr-1{
    margin-right: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}






.col-3, .col-lg-3, .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4, .col-lg-4, .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-8, .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

