.sublink-poezie{
    color: var(--font-grey);
    padding-bottom: 20px;
}
.author-title{
    font-weight: bold;
    font-size: 20px;
    color: var(--red-1);
}
.author-description {
    font-size: 17px;
    font-weight: normal;
    color: var(--grey-1);
    font-family: Georgia;
}
@media (max-width: 768px){
    .sublink-poezie{
        font-size: 16px
    }
    .author-title{
        font-size: 16px
    }
    .author-description{
        font-size: 16px
    }
}
.border-top{
    border-top: 1px solid var(--black-1);
    padding-top: 10px;
}
