.sidebar-poem-links{
    padding: .5rem .9rem;
    font-size: var(--f-standard);
    /*font-weight: 700;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    /*color: var(--font-grey-2);*/
}
.sidebar-poem-links li{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: .3rem 0;
}
.sidebar-poem-links a{
    font-size: var(--f-standard);
    color: var(--font-grey-2);
    text-transform: capitalize;

}
.poem-icon{
    padding: 0 0 0 .5rem;
    color: var(--red-1);
}
.poem-search-title{
    font-size:24px !important;
    height: 4rem;
}
.poem {
    font-size: var(--f-normal);
}
.poem p{
    font-size:var(--f-standard);
    line-height: var(--lineHeight-1);
}
.wrapper-div{
    padding: .2rem .6rem;
}
.poezii-top{
    padding-top: 1rem;
}
@media screen and (max-width: 768px){
    .sidebar-poem-links li{
        /*justify-content: flex-start;*/
    }
}
