.links-top{
    font-weight: bold;
    font-size: 1.3rem;
}
.row-flex-wrap{
    display: flex;
    flex-wrap:wrap;
}
.bold-videoteca{
    font-size: 16px;
    font-weight: bolder;
    line-height:var(--lineHeight-2);
}
.columns {
    flex-grow: 1;
    min-width:250px;
    width: 300px;
    margin: .5rem;
}
.video-container{
    padding: .2rem .1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.video-link{
    height: 240px;
    width: 340px;
}
.border{
    border: 1px solid var(--silver-2);
    /*height: 450px;*/
    margin: 1rem 0;
    /*min-width: 350px;*/
    flex-wrap: wrap;
}
.foto-link{
    padding: .3rem 1.2rem;
}
.foto-link p{
    /*margin-top: 5px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4.6rem;
}
.foto-link-img{
    border-radius: 50%;
    height: 3.3rem;
    width: 3.3rem;
}
.video-para{
    font-size: 1.3rem;
    color: var(--font-grey);
    font-family: 'Museo300_Regular', sans-serif;
    font-weight: bold;
}
.video-about{
    color: var(--black-1);
    font-weight: bolder;
    line-height: var(--lineHeight-1);
    padding: .1rem 1.2rem .8rem 1.2rem;
}
.video-title{
    color: var(--red-1);
    font-size: 1rem;
}
.video-music{
    color: var(--font-grey);
    font-size: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: var(--transition);
}

.pagination a.active {
    background-color: var(--red-1);
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media screen and (max-width: 768px){
    .columns {
        width: 240px;
        min-width:200px ;
    }
    .border{
        height: 400px;
    }
    .video-link{
        height: 200px;
        width: 320px;
    }
}
#logo{
    height: 360px;
}
@media screen and (max-width: 550px){
    span.p15{
        padding: 0.1rem;
    }
    .links-top {
        font-size: 1rem;
    }
    .columns {
        width: 280px;
        min-width:220px ;
    }
    .border{
        height: 480px;
    }
    .video-link{
        height: 260px;
        width: 320px;
    }
    .foto-link p {
        margin: 0 1.9rem 0 .2rem;
    }
    .video-about{
        padding: 0.3rem 1.2rem .5rem 1.2rem;
    }
}
@media screen and (max-width: 400px){
    .columns {
        width: 280px;
        min-width:220px ;
    }
    .border{
        height: 480px;
    }
    .video-link{
        height: 260px;
        width: 310px;
    }
}
@media screen and (max-width: 320px){
    .columns {
        width: 280px;
        min-width:220px ;
    }
    .border{
        height: 450px;
    }
    .video-link{
        height: 260px;
        width: 260px;
    }
    .video-about{
        padding: 0.5rem 1.2rem .5rem  1.2rem ;
    }
    .video-para {
        margin: 0 1.2rem;
        font-size: 1rem;
    }
}
