@import '../../../../public/css/variables.less';

.btn-component {
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  min-width: 100px;
  outline: none;
  overflow: hidden;
  padding: 5px;
  position: relative;

  > .ladda-label {
    position: unset !important;
  }

  .btn_hover {
    border-radius: 20px;
    display: inline-block;
    height: 50%;
    left: 0;
    position: absolute;
    transition: 0.3s;
    top: 0;
    width: 20%;
  }

  .btn_text {
    position: relative;
    // z-index: 3;
    height: 100%;
    font-family: 'Open Sans', 'Lucida Sans Unicode', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    -webkit-text-size-adjust: none;

    &.ladda-label {
      position: relative;
    }
  }

  &:hover .btn_hover {
    height: 100%;
    transform: scale(1);
    transition: 0.3s;
    width: 100%;
  }

  &.orange.disabled,
  &.blue.disabled,
  &.green.disabled,
  &.white.disabled,
  &.red.disabled,
  &.black.disabled,
  &.blue-link.disabled {
    background-color: @secondary-light;
    border-color: @secondary-light;
    color: @tertiary-ultralight;
    cursor: default;
    pointer-events: none;
  }

  &.black {
    background-color: @secondary-heavy;
    color: @tertiary-ultralight;
  }

  // COLORS
  &.blue {
    background-color: @primary-default;
    border-color: @primary-default;
    color: @tertiary-ultralight;

    &:hover {
      .btn_hover {
        background-color: @primary-accent;
      }
    }
  }

  &.orange {
    background-color: @action-default;
    border-color: @action-default;
    color: @tertiary-ultralight;

    &:hover {
      .btn_hover {
        background-color: @action-accent;
      }
    }
  }

  &.red {
    background-color: @destructive-default;
    border-color: @destructive-default;
    color: @tertiary-ultralight;
    &:hover {
      .btn_hover {
        background-color: @destructive-accent;
      }
    }
  }

  &.ghost-red {
    background-color: @tertiary-ultralight;
    border: 1px solid @destructive-default;
    color: @destructive-default;

    &.disabled {
      border-color: @secondary-light;
      color: @secondary-light;
    }
  }

  &.ghost-orange {
    background-color: transparent;
    border: 1px solid @action-accent;
    color: @action-accent;

    &.disabled {
      border-color: @secondary-light;
      color: @secondary-light;
    }
  }

  &.ghost-blue {
    background-color: transparent;
    border: 1px solid @primary-default;
    color: @primary-default;

    &.disabled {
      border-color: @secondary-light;
      color: @secondary-light;
    }
  }

  &.ghost-white {
    background-color: transparent;
    border: 1px solid @tertiary-ultralight;
    color: @tertiary-ultralight;
    &:hover {
      color: @tertiary-heavy;
      background-color: @tertiary-ultralight;
      a {
        color: @tertiary-heavy;
      }
    }

    a {
      color: @tertiary-ultralight;
    }

    &.disabled {
      color: @secondary-light;
      border-color: @secondary-light;
    }
  }

  &.ghost-black {
    background-color: transparent;
    border: 1px solid @tertiary-heavy;
    color: @tertiary-heavy;

    &:hover {
      background-color: @tertiary-heavy;
      color: @tertiary-ultralight;
    }

    &.disabled {
      color: @secondary-light;
      border-color: @secondary-light;
    }
  }

  &.green {
    background-color: @confirmation-accent;
    border: 1px solid @confirmation-accent;
    color: @tertiary-ultralight;
  }

  &.white {
    color: @tertiary-ultralight;
    background-color: transparent;
    border-color: transparent;

    &.disabled {
      pointer-events: none;
    }
  }

  &.blue-link {
    color: @primary-default;
    background-color: transparent;
    border-color: transparent;

    &.disabled {
      pointer-events: none;
    }
  }

  &.ladda-button {
    padding: 5px 15px;
  }

  &.ladda-button[disabled] {
    &:hover {
      .btn_hover {
        background-color: @secondary-default;
      }
    }
  }

  &.goBack {
    min-width: 40px;
    padding: 0;

    .btn_text {
      ._icon {
        color: @tertiary-ultralight;
        display: inline-block;
        font-size: @header-small;
        line-height: 32px;
        transform: rotate(90deg);
      }
    }
  }

  // SIZE
  &.btn-sm {
    height: 30px;
  }

  &.btn-lg {
    height: 40px;
  }

  &.attch-button {
    align-items: center;
    background: transparent;
    border: 0;
    color: @primary-default;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    text-align: left;
    vertical-align: middle;
    width: 165px;

    &:hover {
      background: transparent;

      .btn_hover {
        background: transparent;
      }
    }

    &:before {
      color: @primary-default;
      font-family: Adservio;
      font-size: 34px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  &[data-loading] {
    pointer-events: none;
    color: @tertiary-ultralight;

    &:before {
      content: '';
    }
  }

  &[disabled] {
    pointer-events: none;
    color: @tertiary-ultralight;
    background: @secondary-accent;

    .ladda-label {
      text-align: center;
      width: 100%;
    }
  }
}

#plupload_plupload .plupload {
  z-index: 3 !important;
}
