@import '../../../variables.less';

.comp-pagination {
  .pagination-content {
    display: inline-block;

    .icon-sageata-stanga,
    .icon-sageata-dreapta {
      border: 1px solid @secondary-light;
      font-size: 15px;
      vertical-align: middle;
    }

    .comp-pagination__button {
      background: transparent;
      border: 1px solid @secondary-light;
      border-radius: 50%;
      box-sizing: content-box;
      color: @secondary-heavy;
      cursor: pointer;
      height: 16px;
      margin: 5px;
      outline: none;
      padding: 11px;
      width: 16px;

      &:hover {
        border-color: @secondary-default;
      }

      &.active {
        background: @secondary-heavy;
        border-color: @secondary-heavy;
        color: @tertiary-ultralight;
      }

      &._icon {
        font-weight: bold;
      }
    }

    .more-page {
      border: none;
      background: unset;
      outline: unset;
      border-radius: 50%;
      box-sizing: border-box;
      font-weight: bold;
      height: 40px;
      margin: 0;
      padding: 0 11px 4px 11px;
      width: 40px;

      &:hover {
        background: #f5f7ff;
      }
    }

    .comp-pagination__arrow {
      border: none;
    }

    .more-page-content {
      display: inline-block;
      position: relative;
      ul {
        background: @tertiary-ultralight;
        -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);

        display: inline-block;
        font-size: @text-default;
        left: 50%;
        max-height: 125px;
        overflow: auto;
        position: absolute;
        text-align: center;
        top: 40px;
        transform: translateX(-50%);
        vertical-align: top;
        width: 55px;
        z-index: 3;

        /* width */
        &::-webkit-scrollbar {
          width: 3px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: @secondary-light;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: @secondary-default;
        }

        .pages-list__button {
          box-sizing: border-box;
          cursor: pointer;
          padding: 3px 0;
          display: block;
          width: inherit;
          background: unset;
          outline: none;
          border: none;

          &:hover {
            background: #f5f7ff;
          }
        }

        &.hide {
          display: none;
        }
      }
    }
  }
}

.comp-docs {
  .comp-docs-content {
    ul {
      li {
        &:before {
          content: '';
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .comp-pagination {
    .pagination-content {
      .comp-pagination__button {
        margin: 2px;
      }

      .first-page-mobile,
      .last-page-mobile {
        display: none;

        &.active {
          display: inline-block;
        }
      }

      .more-page-content {
        ul {
          .pages-list__button {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
